/* .login-form{
    padding-left: 50px;
}
#login{

    margin-left: 40vw;
    background-color: aquamarine;
    height: 25vh;
    width: 50vh;
}
#login>form>h1{
    text-align: center;
} */

#login{
    text-align: center;
    height: 40vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-form{
    border: 2px solid black;
}