body{
    background-color:#f0f4f9;
    font-family: Arial, Helvetica, sans-serif;
}

.div2{
    width: 60vw;
    height: 40vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 40px;
    margin-bottom: 30px;
    border-radius: 30px;
}
img{
    height: 40px;
}
.div1{
    width: 80vw;
    height: 80vh;
    position: relative;
    left: 20em;
    top: 10em;
}
#heading{
    font-weight: 400;
    letter-spacing: 1px;
}
#foget{
    text-decoration: none;
}